<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header layOut</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<div th:fragment="afterHeaderFragment">
    <header>
        <nav>
            <div class="nav-wrap">
                <ul>
                    <a th:href="@{/common/premium}"><li>메뉴</li></a>
                    <a th:href="@{/common/eventPage}"><li>이벤트</li></a>
                    <a th:href="@{/common/map}"><li>매장</li></a>
                </ul>
                <div id="logo">
                    <a th:href="@{/user/afterLogin}"><img src="/images/main_imgs/logo.png" alt=""></a>
                </div>
                <ul>
                    <a th:href="@{/user/userinfo}"><li>내정보</li></a>
                    <a id="logout" th:href="@{/logout}"><li>로그아웃</li></a>
                    <div class="cart"><a href="/user/cart"><img src="/images/main_imgs/cart.png" alt=""></a></div>
                    <div class="list"><a href="/user/orders"><img src="/images/main_imgs/list.png" alt=""></a></div>
                </ul>
            </div>
        </nav>
    </header>
    <script>
        $(".cart").click((e) => {
             e.preventDefault();
             let cartItems = JSON.parse(localStorage.getItem("cart"));
             if (!cartItems || cartItems.length === 0) {
               window.location.replace('/common/emptyCart');
             } else {
               window.location.replace('/user/cart');
             }
        });

$(function() {
      $.ajax({
          type: "post",
          url: "/user/sessionCheck",
          success: function(res) {
                if(res == '' || res == null){
                    alert('세션이 초기화 되었습니다.');
                    location.href = '/common/login';
                }
          }
      });
  });
        $("#logout").on('click', function () {
            localStorage.clear();
        });
    </script>
</div>
</body>
</html>